{% extends 'base.html' %}

{% block content %}

    Cadastro
    <hr>
    <div class="container">
        <form action="{% url 'cadastro_pessoas' %}" method="post" novalidate>

            {% csrf_token %}


            {% if form.errors %}
                {{ form.errors }}
            {% endif %}

            <div class="form-group">
                <label for="nome">Nome</label>
                {{ form }}
            </div>

            <input type="submit" value="Cadastrar" class="btn btn-sm btn-success">
            <a href="{% url 'pessoas' %}" class="btn btn-sm btn-danger">Cancelar</a>

        </form>
    </div>

{% endblock %}

