{% extends 'base.html' %}

{% block content %}

    Pessoas Cadastradas
    <hr>
    <a href="/pessoa/nova/" class="btn btn-sm btn-primary">Novo Cadastro</a>
    <hr>

    <div>
        {% if message %}
            {{ message }}
        {% endif %}
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nome Social</th>
                <th>Endereço</th>
                <th>Sexo</th>
                <th>D. Nasc.</th>
            </tr>
        </thead>

        <tbody>
            {% for dado in dados %}
                <tr>
                    <td>
                        {{ dado.nome }}
                    </td>
                    <td>
                        {{ dado.nome_social }}
                    </td>
                    <th>
                        {{ dado.endereco }}
                    </th>
                    <td>
                        {{ dado.sexo }}
                    </td>
                    <td>
                        {{ dado.data_nascimento }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}